/* Global styles */

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */

.header {
  background-color: #f5f5f5;
  text-align: center;
  margin-bottom: 20px; /* Add margin-bottom to create space */
  display: flex;
  justify-content: center;
}

/* Page-specific styles */

.home_page {
  background-color: #0079ff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0079ff;
}

.title {
  text-align: center;
}

.textarea-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .textarea-container {
    grid-template-columns: 1fr;
  }
}

div {
  margin-bottom: 10px;
}

input {
  width: 30rem;
  height: 13rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mainpage_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Footer styles */

.footer {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

/* Card styles */

.card {
  width: 300px; /* Adjust the width as desired */
  margin: 1rem;
}

.card-image {
  width: 100%;
  height: auto;
}

/* FlashCardIndex styles */

.flashcard-index-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 400px; /* Adjust the width to match the card width */
  margin-top: 10px;
}

.nav-link {
  font-size: 26px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

.flashcard {
  width: 14rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10%;
}

/* ... */

.flashcard.active {
  transform: rotateY(180deg);
}

/* Card Image styles */

.flashcard img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the maximum height as desired */
}

.show-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto; /* Add margin:auto to horizontally center the card */
}

.show-page {
  width: 80%;
  margin: 0 auto;
}

.show-page-card-body {
  width: 60%;
}

.show-page-image {
  width: 80%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.show-page-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.show-page-nav-link {
  font-size: 26px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
